<mat-tab-group (selectedTabChange)="tabChange($event)" [selectedIndex]="selectedTab.value">
  <ng-container *ngFor="let tab of tabs; let i = index">
    <mat-tab [matTooltip]="tab.toolTip">
      <ng-template mat-tab-label>
        {{ tab.label }} &nbsp;
        <button *ngIf="tab.closeEnabled" mat-icon-button (click)="closeTab(tab, i)">
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>
      <ng-container>
        <app-request (requestUpdated)="requestUpdated($event, tab, i)"></app-request>
      </ng-container>
    </mat-tab>
  </ng-container>
  <mat-tab label="new">
    <ng-template mat-tab-label>
      New &nbsp;
      <button mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>
