<div>
  <div class="flex-box" *ngFor="let header of headers">
    <div class="m-r-24">
      <mat-form-field>
        <mat-label>Header</mat-label>
        <input type="text" matInput [(ngModel)]="header.key" />
      </mat-form-field>
    </div>
    <div class="flex-grow-1">
      <mat-form-field class="w-100">
        <mat-label>Value</mat-label>
        <input type="text" matInput [(ngModel)]="header.value" />
      </mat-form-field>
    </div>
  </div>
  <div class="flex-box">
    <div class="m-r-24">
      <mat-form-field>
        <mat-label>Header</mat-label>
        <input type="email" matInput />
      </mat-form-field>
    </div>
    <div class="flex-grow-1" class="w-100">
      <mat-form-field>
        <mat-label>Value</mat-label>
        <input type="email" matInput />
      </mat-form-field>
    </div>
  </div>
</div>
