<mat-accordion multi="true">
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title> Request </mat-panel-title>
      <mat-panel-description>
        <ng-container *ngIf="requestForm.controls['url']?.value">
          <b>{{ requestForm.controls["method"]?.value?.text }}</b> &nbsp;&nbsp;
          <span>{{ requestForm.controls["url"]?.value }}</span>
        </ng-container>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="flex-box flex-s-center" [formGroup]="requestForm">
      <div class="m-r-24">
        <mat-form-field>
          <mat-select formControlName="method">
            <mat-option *ngFor="let method of methods" [value]="method">{{ method.text }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flex-grow-1 m-r-24">
        <mat-form-field class="w-100">
          <mat-label>URL</mat-label>
          <input type="text" matInput formControlName="url" />
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="send()">Send</button>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Authentication</mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-tab-group>
      <mat-tab label="Basic">
        <app-basic-authentication (authUpdated)="onAuthUpdated('Basic', $event)"></app-basic-authentication>
      </mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Headers</mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <app-headers [headers]="headers"></app-headers>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Response</mat-panel-title>
      <mat-panel-description> </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-tab-group>
      <mat-tab label="Preview">
        <div class="response-preview" appAce></div>
      </mat-tab>
      <mat-tab label="Headers"> </mat-tab>
      <mat-tab label="Response"> </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</mat-accordion>
